.contact__page{
    background-color: #04364A;
    height: 100vh;
}

.contact__wrapper {
    padding: 117.77px 89.5px;
    display: flex;
    gap: 100px;
    width: 100%;
    max-width: 1512px;
    margin: 0 auto;
}

.contact__title {
    font-family: "Kodchasan";
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    text-align: left;
    color: #FFFFFF;
}

.contact__span {
    color: #64CCC5;
}
.customCheck{
    margin-top: 12px;
}
.contacts {
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding: 72px 0px;
}

.contacts__wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contacts__text {
    font-family: "Nunito";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: white;
}

.contact__form {
    padding: 50px 35px;
    background-color: white;
    border-radius: 24px;
    max-width: 631px;
}

.froms__interest {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #176B87;
}

.form__input {
    padding-top: 32px;
}

.input__text {
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: #176B87;
}

.form__input-text {
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: black;
    border: none;
    border-bottom: 2px solid #CDCDCD;
    width: 100%;
    padding: 12px 16px;
    outline: none;

}

.form__input-text::placeholder {
    color: #787878;
}


.form__input-text:focus {
    border-color: #176B87;
}

.form__input-textarea {
    margin-top: 8px;
    outline: none;
    border-radius: 12px;
    border: 2px solid #CDCDCD;
    resize: none;
    padding: 20px 20px;
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: black;
    width: 561px;
    height: 138px;
}

.form__input-textarea:focus {
    border-color: #176B87;
}
.contact__btn{
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: white;
    padding: 16px 0px;
    background-color: #176B87;
    width: 100%;
    border-radius: 50px;
    margin-top: 32px;
}